<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        
        <title>Witam</title>
  
         <link rel="stylesheet" type="text/css" media="all"  
     href="../css/home.css"  th:href="@{/css/home.css}" />
  


     
    </head>
    <body>
       <center> <div id="box">
        <center><h1 >Zarządzanie​ ​ i​ ​ rozliczanie​ ​ ogródków​ ​ działkowych</h1></center>

          <center> <p>Kliknij aby przejść do panelu logowania:</p>   </center>
         
        
            
           <center><div><input class="button1" id="Tutaj" type="button"  value="Zaloguj"  onclick="window.location.href='/login'" /></div></center>
 </div></center>
    </body>
</html>