<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
 <head>
 <title>Panel Użytkownika</title>
 <link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="all"  
     href="../css/user.css"  th:href="@{/css/user.css}" />
        
        
        <meta charset="utf-8" />


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" media="all"  
              href="../css/editor.dataTables.min.css"  th:href="@{/css/editor.dataTables.min.css}" />

        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>


 </head>
 <body>
     <nav class="navbar navbar-inverse">
		<div  class="container">
			<div class="navbar-header">
				<a class="navbar-brand " th:href="@{/user}">Panel Użytkownika</a>
			</div>
			
		</div>
	</nav>
      <nav class="navbar navbar-inverse">
		<div  class="container">
     <div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
                           <li ><a href="#start" th:href="@{/user}">Start</a></li>
			 <li><a href="#rozrachunki" th:href="@{/user_Rozrachunki}">Rozrachunki</a></li>
                        <li><a href="#zobowiazania" th:href="@{/user_Zobowiazania}">Zobowiązania</a></li>
                        <li><a href="#bank" th:href="@{/user_bank}">Konto bankowe</a></li>
                          <li class="active"><a href="#licznik" th:href="@{/user_licznik}">Odczyt liczników</a></li>
                            <li ><a  th:href="@{/user_konto}">Konto</a></li>
                                   <li style="  position: absolute; left: 94%; background-color: black">

                            <a th:href="@{/login?logout}" onclick="$('#form').submit();">
                                Wyloguj
                            </a>
                            <form style="visibility: hidden" id="form" method="post"  th:action="@{/logout}"></form>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>



        <table id="user_licznik_Table" class="display" cellspacing="0" width="100%">

            <!-- Header Table -->
            <thead class="display headAndFooter">
                <tr>
                    <th>Nr pomiaru</th>
                    <th>Data</th>
                    <th>Stan licznika</th>
                    <th>Należność</th>
                   
                </tr>
            </thead>

            <!-- Footer Table -->
            <tfoot class="display headAndFooter">
                <tr>
                       <th>Nr pomiaru</th>
                    <th>Data</th>
                    <th>Stan licznika</th>
                    <th>Należność</th>
                </tr>
            </tfoot>
        </table>
        <script src="/jQuery-2.1.4.min.js"></script>
        <script src="/jquery.dataTables.js"></script>
        <script src="/dataTables.bootstrap.min.js"></script>
        <script src="/jquery.spring-friendly.js"></script>
        <script src="../../js/dataTables.editor.min.js"></script>

        <script src="../../js/user_licznik.js"></script>




    </body>
</html>