<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Panel Użytkownika</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
        <a class="navbar-brand" th:href="@{/user}">Panel Użytkownika</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/user}">Start</a>
                <a class="nav-item nav-link" th:href="@{/user_Rozrachunki}">Rozrachunki</a>
                <a class="nav-item nav-link" th:href="@{/user_Zobowiazania}">Zobowiązania</a>
                <a class="nav-item nav-link active" th:href="@{/user_bank}">Konto bankowe</a>
                <a class="nav-item nav-link" th:href="@{/user_licznik}">Odczyt liczników</a>
                <a class="nav-item nav-link " th:href="@{/user_konto}">Konto</a>

                <a class="item nav-link" th:href="@{/login?logout}" onclick="$('#form').submit();"> Wyloguj </a>
            </div>
            <form style="visibility: hidden" id="form" method="post" th:action="@{/logout}"></form>
        </div>
    </nav>

<div class="container col-lg-5">
    
    <div class="card mt-5">
        <div class="card-header">
            Szczegóły
        </div>
        <div class="card-body">
            <h2 class="card-title">Konta bankowe</h2>
            <h6 class="card-subtitle mb-2 text-muted">Dane kont bankowych do regulacji należności</h6>

            <p class="lead kodIban"><br/>IBAN:
            </p>
            <p class="lead nrKonta">Nr konta: </p>
        </div>

    </div>
</div>
    <script src="../../js/user_bank.js"></script>



</body>
</html>