<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Panel Użytkownika</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="fixed-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  ">

        <a class="navbar-brand" th:href="@{/user}">Panel Użytkownika</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/user}">Start</a>
                <a class="nav-item nav-link" th:href="@{/user_Rozrachunki}">Rozrachunki</a>
                <a class="nav-item nav-link" th:href="@{/user_Zobowiazania}">Zobowiązania</a>
                <a class="nav-item nav-link" th:href="@{/user_bank}">Konto bankowe</a>
                <a class="nav-item nav-link" th:href="@{/user_licznik}">Odczyt liczników</a>
                <a class="nav-item nav-link" th:href="@{/user_konto}">Konto</a>

                <a class="item nav-link" th:href="@{/login?logout}" onclick="$('#form').submit();"> Wyloguj </a>
            </div>
            <form style="visibility: hidden" id="form" method="post" th:action="@{/logout}"></form>
        </div>
    </nav>

    <div class="container mt-5 col-lg-5">
        <div class="card m-auto">
            <div class="card-header">
                Szczegóły
            </div>
            <div class="card-body">
                <h2 class="card-title">Dane działkowicza</h2>
                <h6 class="card-subtitle mb-2 text-muted">Szczegółowe dane użytkownika systemu</h6>

                <ul>
                    <li class="nrDzialkowicza">Nr Działkowicza: </li>
                    <li class="nrDzialki">Nr Działki: </li>
                    <li class="imie">Imie: </li>
                    <li class="nazwisko">Nazwisko: </li>
                    <li class="ulica">Ulica: </li>
                    <li class="nrDomu">Nr domu: </li>
                    <li class="nrLokalu">Nr lokalu: </li>
                    <li class="kodPocztowy">Kod pocztowy: </li>
                    <li class="miasto">Miasto: </li>
                    <li class="adresDoKorespondencji">Adres do korespondencji: </li>
                    <li class="telefon">Telefon: </li>
                    <li class="email">Email: </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../js/user.js"></script>



</body>
</html>